{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-gb" }}" class="{% block html_class %}no-js{% endblock %}">
    <head>
        <title>{% block title %}{{ shop_name }} - {{ shop_tagline }}{% endblock %}</title>

        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="created" content="{% now "jS M Y h:i" %}" />
        <meta name="description" content="{% block description %}{% endblock %}" />
        <meta name="viewport" content="{% block viewport %}width=device-width{% endblock %}" />
        <meta name="robots" content="NOARCHIVE,NOCACHE" />
        {% block favicon %}
            <link rel="shortcut icon" href="{% static "oscar/favicon.ico" %}" />
        {% endblock %}

        {# Block where global CSS will go. #}

         <!-- Favicon -->
        <link rel="shortcut icon" href="../../favicon.png">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap" rel="stylesheet">

        <!-- CSS Implementing Plugins -->
        <link rel="stylesheet" href="{% static "oscar/vendor/font-awesome/css/fontawesome-all.min.css"%} ">
        <link rel="stylesheet" href="{%  static "oscar/css/font-electro.css"%}">

        <link rel="stylesheet" href="{% static "oscar/vendor/animate.css/animate.min.css"%}">
        <link rel="stylesheet" href="{% static "oscar/vendor/hs-megamenu/src/hs.megamenu.css"%}">
        <link rel="stylesheet" href="{% static "oscar/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css"%}">
        <link rel="stylesheet" href="{%  static "oscar/vendor/fancybox/jquery.fancybox.css"%}">
        <link rel="stylesheet" href="{% static "oscar/vendor/slick-carousel/slick/slick.css"%}">
        <link rel="stylesheet" href="{% static "oscar/vendor/bootstrap-select/dist/css/bootstrap-select.min.css"%}">

        <!-- CSS Electro Template -->
        <link rel="stylesheet" href="{% static "oscar/css/theme.css"%}">
        {% block styles %}{% endblock %}

        {# Additional CSS - specific to certain pages #}
        {% block extrastyles %}{% endblock %}

        {% block extrahead %}{% endblock %}

        {% block tracking %}
            {# Default to using Google analytics #}
            {% include "oscar/partials/google_analytics.html" %}
        {% endblock %}
    </head>





    














    <body id="{% block body_id %}default{% endblock %}" class="{% block body_class %}default{% endblock %}">
        {# Main content goes in this 'layout' block #}
        {% block layout %}
        
        {% endblock %}

        {# Scripts loaded from a CDN. #}
        {% block cdn_scripts %}
            <!-- jQuery -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="{% static "oscar/js/jquery/jquery.min.js" %}"><\/script>')</script>
        {% endblock %}

        {# Local scripts #}
        {% block scripts %}
        {% endblock %}

        {# Additional JS scripts #}
        {% block extrascripts %}{% endblock %}


        {% block footer %}

        {% endblock %}

        <script src="{%  static "oscar/vendor/jquery/dist/jquery.min.js"%}"></script>
        <script src="{%  static "oscar/vendor/jquery-migrate/dist/jquery-migrate.min.js"%}"></script>
        <script src="{% static "oscar/vendor/popper.js/dist/umd/popper.min.js"%}"></script>
        <script src="{% static "oscar/vendor/bootstrap/bootstrap.min.js"%}"></script>

        <!-- JS Implementing Plugins -->
        <script src="{% static  "oscar/vendor/appear.js"%}"></script>
        <script src="{%  static "oscar/vendor/jquery.countdown.min.js"%}"></script>
        <script src="{%  static "oscar/vendor/hs-megamenu/src/hs.megamenu.js"%}"></script>
        <script src="{%  static "oscar/vendor/svg-injector/dist/svg-injector.min.js"%}"></script>
        <script src="{%  static "oscar/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"%}"></script>
        <script src="{%  static "oscar/vendor/jquery-validation/dist/jquery.validate.min.js"%}"></script>
        <script src="{%  static "oscar/vendor/fancybox/jquery.fancybox.min.js"%}"></script>
        <script src="{%  static "oscar/vendor/typed.js/lib/typed.min.js"%}"></script>
        <script src="{%  static "oscar/vendor/slick-carousel/slick/slick.js"%}"></script>
        <script src="{%  static "oscar/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"%}"></script>

        <!-- JS Electro -->
        <script src="{%  static "oscar/js/hs.core.js"%}"></script>
        <script src="{%  static "oscar/js/components/hs.countdown.js"%}"></script>
        <script src="{%  static "oscar/js/components/hs.header.js"%}"></script>
        <script src="{%  static "oscar/js/components/hs.hamburgers.js"%}"></script>
        <script src="{%  static "oscar/js/components/hs.unfold.js"%}"></script>
        <script src="{%  static "oscar/js/components/hs.focus-state.js"%}"></script>
        <script src="{%  static "oscar/js/components/hs.malihu-scrollbar.js"%}"></script>
        <script src="{%  static "oscar/js/components/hs.validation.js"%}"></script>
        <script src="{%  static "oscar/js/components/hs.fancybox.js"%}"></script>
        <script src="{%  static "oscar/js/components/hs.onscroll-animation.js"%}"></script>
        <script src="{%  static "oscar/js/components/hs.slick-carousel.js"%}"></script>
        <script src="{%  static "oscar/js/components/hs.show-animation.js"%}"></script>
        <script src="{%  static "oscar/js/components/hs.svg-injector.js"%}"></script>
        <script src="{%  static "oscar/js/components/hs.go-to.js"%}"></script>
        <script src="{%  static "oscar/js/components/hs.selectpicker.js"%}"></script>




        {# Block for body onload functions #}
        <script>
            $(function() {
                {% block onbodyload %}{% endblock %}
            });

                        $(window).on('load', function () {
                // initialization of HSMegaMenu component
                $('.js-mega-menu').HSMegaMenu({
                    event: 'hover',
                    direction: 'horizontal',
                    pageContainer: $('.container'),
                    breakpoint: 767.98,
                    hideTimeOut: 0
                });

                // initialization of svg injector module
                $.HSCore.components.HSSVGIngector.init('.js-svg-injector');
            });

            $(document).on('ready', function () {
                // initialization of header
                $.HSCore.components.HSHeader.init($('#header'));

                // initialization of animation
                $.HSCore.components.HSOnScrollAnimation.init('[data-animation]');

                // initialization of unfold component
                $.HSCore.components.HSUnfold.init($('[data-unfold-target]'), {
                    afterOpen: function () {
                        $(this).find('input[type="search"]').focus();
                    }
                });

                // initialization of popups
                $.HSCore.components.HSFancyBox.init('.js-fancybox');

                // initialization of countdowns
                var countdowns = $.HSCore.components.HSCountdown.init('.js-countdown', {
                    yearsElSelector: '.js-cd-years',
                    monthsElSelector: '.js-cd-months',
                    daysElSelector: '.js-cd-days',
                    hoursElSelector: '.js-cd-hours',
                    minutesElSelector: '.js-cd-minutes',
                    secondsElSelector: '.js-cd-seconds'
                });

                // initialization of malihu scrollbar
                $.HSCore.components.HSMalihuScrollBar.init($('.js-scrollbar'));

                // initialization of forms
                $.HSCore.components.HSFocusState.init();

                // initialization of form validation
                $.HSCore.components.HSValidation.init('.js-validate', {
                    rules: {
                        confirmPassword: {
                            equalTo: '#signupPassword'
                        }
                    }
                });

                // initialization of show animations
                $.HSCore.components.HSShowAnimation.init('.js-animation-link');

                // initialization of fancybox
                $.HSCore.components.HSFancyBox.init('.js-fancybox');

                // initialization of slick carousel
                $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');

                // initialization of go to
                $.HSCore.components.HSGoTo.init('.js-go-to');

                // initialization of hamburgers
                $.HSCore.components.HSHamburgers.init('#hamburgerTrigger');

                // initialization of unfold component
                $.HSCore.components.HSUnfold.init($('[data-unfold-target]'), {
                    beforeClose: function () {
                        $('#hamburgerTrigger').removeClass('is-active');
                    },
                    afterClose: function() {
                        $('#headerSidebarList .collapse.show').collapse('hide');
                    }
                });

                $('#headerSidebarList [data-toggle="collapse"]').on('click', function (e) {
                    e.preventDefault();

                    var target = $(this).data('target');

                    if($(this).attr('aria-expanded') === "true") {
                        $(target).collapse('hide');
                    } else {
                        $(target).collapse('show');
                    }
                });

                // initialization of unfold component
                $.HSCore.components.HSUnfold.init($('[data-unfold-target]'));

                // initialization of select picker
                $.HSCore.components.HSSelectPicker.init('.js-select');
            });


        </script>

        {# Page meta-data - this is populated by the 'metadata' template context processor #}
    </body>
</html>
